<div class="rss-output-wrapper" *ngIf="usersCollection">
  <div class="list-user-items-wrapper" *ngIf="usersCollection">
    <table class="table table-bordered list-user-items">
      <tr>
        <th>№</th>
        <th>ID</th>
        <th>Login</th>
        <th>Score</th>
        <th>Profile Link</th>
      </tr>
      <tr *ngFor="let item of usersCollection; let i = index;">
        <td>{{i+1}}</td>
        <td>{{item.id}}</td>
        <td>{{item.login}}</td>
        <td>{{item.score}}</td>
        <td><a routerLink="/login/{{item.login}}">Login</a></td>
      </tr>
    </table>
  </div>
</div>